@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap%27");
body {
  font-family: "Roboto", sans-serif !important;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1170px;
  margin: auto;
  padding: 0;
  font-size: 16px;
}

h1,
h5 {
  font-family: "Lora", serif;
}

p {
  font-family: "Roboto", serif;
}

.header {
  background-color: #ff7000;
}

.header .header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .header-content p {
  flex: 5;
  color: #f8f8f8;
}

.header .header-content a i {
  color: #fff;
  font-size: 27px;
  width: 28px;
  height: 24px;
  padding: 15px;
}

.header .header-content a i:hover {
  background-color: #333333;
  color: #fff;
  transition: 0.3s;
}

.middlebar {
  height: 106px;
  background-color: #fff;
  width: 100%;
}
.middlebar .btn {
  float: right;
}
.middlebar .container {
  height: 100px;
  padding: 24px 0;
}

.scnd-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scnd-header-content .contacts {
  display: flex;
  margin: 0;
}

.scnd-header-content .contacts .email .name,
.call .name {
  display: inline;
  float: right;
  padding: 0 15px 0;
  color: black;
  margin-bottom: 42px;
}

.name p {
  padding: 15px 0 0;
  margin-top: 0;
}
.scnd-header-content .contacts a i {
  padding: 11px;
  background-color: #f8f8f8;
  color: #ff7000;
  border-radius: 50%;
  font-size: 27px;
  margin-top: 20px;
}

.donate-btn,
.cause-btn {
  background: #ff7000;
  color: #fff;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 17px 24px;
  font-size: 16px;
  width: 165px;
  height: 55px;
  text-transform: uppercase;
}

.donate-btn:hover {
  transition: 0.3s;
  cursor: pointer;
  background-color: #333333;
}

.cause-btn:hover {
  transition: 0.3s;
  cursor: pointer;
  background-color: #333333;
}

.navigation {
  height: 61px;
  background: #333333;
}

.navbar-content ul {
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: flex;
  padding: 0;
}

.navbar-content ul li {
  list-style: none;
  color: #f8f8f8;
  padding: 21px;
}

.navbar-content a {
  text-decoration: none;
}

.navbar-content a:hover {
  transition: 0.3s;
  background: #777474;
  color: #333333;
}

.navbar-content ul {
  align-items: center;
}

.navbar-content ul li .plus {
  color: #ff7000;
  padding: 0 14px;
}

.owl-carousel.owl-theme {
  display: block;
  position: relative;
}

.hero .owl-carousel.owl-theme .item {
  background-image: url(/images/Image.png);
  height: 915px;
  max-height: 915px;
  width: 1920px;
}

.hero .hero-content {
  position: absolute;
  color: #f8f8f8;
  display: flex;
  top: 510px;
  left: 378px;
  z-index: 1;
  flex-direction: column;
  max-width: 535px;
}

.hero .hero-content h1 {
  font-weight: 700;
  font-size: 54px;
  line-height: 69px;
}

.need {
  color: #ff7000;
}

.end {
  color: #ff7000;
}

.hero .hero-content p {
  color: #666666;
}

.cause-content h1 {
  padding-top: 130px;
  font-size: 3rem;
  line-height: 69.12px;
  text-align: center;
}

.border-box {
  width: 100px;
  border-bottom: 3px solid #ff7000;
  color: #ff7000;
  margin-left: 45%;
}

.cause-content p {
  text-align: center;
  padding-top: 30px;
}

.cards .card-body {
  display: flex;
  padding-top: 95px;
}

.card-content {
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one,
.two,
.three {
  border: none;
  width: 370px;
  height: 616px;
  border-radius: 5px;
  background-color: #ebebeb;
}

.card-content img {
  width: 370px;
  height: 271px;
}

.card-content h5 {
  font-size: 21px;
  padding: 0 33px;
}

.card-content p {
  max-width: 305px;
  padding: 0 33px;
}

.donate-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.donate-content h5 {
  color: #ff7000;
  padding: 0 33px;
}

.donate-container {
  background: #999999;
  width: 302px;
  height: 6px;
  border-radius: 4px;
  margin: 0 34px;
}

.donate-eighty-perc {
  width: 241px;
  height: 6px;
  background-color: #ff7000;
  position: absolute;
  border-radius: 4px;
}

.cause-button {
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.urgent-cause {
  background: #444444;
  height: 946px;
}

.urgent-cause-content .border-box {
  margin: 0 !important;
}
.urgent-cause-content {
  max-width: 535px !important;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.urgent-cause-content h1 {
  font-size: 54px;
  color: #fff;
}

.urgent-cause-content p {
  max-width: 489px;
  color: #666666;
}

.urgent-cause-content h5 {
  font-size: 21px;
  color: #fff;
}
.very-urgent {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.very-urgent img {
  position: relative;
}

.very-urgent .donate-btn {
  position: absolute;
  margin-top: 340px;
  margin-left: 180px;
}

span {
  color: #ff7000;
}

.container-section {
  display: flex;
  margin-top: 139px;
}

.container-section img {
  padding-right: 100px;
}

.section-content h1 {
  font-size: 54px;
}

.donation i,
.volunteer i,
.media i {
  background-color: #ff7000;
  border-radius: 50%;
  font-size: 27px;
  color: #fff;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 2.5;
}

.donation,
.volunteer,
.media {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
}

.donation h5,
.volunteer h5,
.media h5 {
  font-size: 28px;
  padding: 0;
  margin: 0;
}

.first,
.second,
.third {
  position: absolute;
  font-size: 30px;
  opacity: 10%;
}

.section-content .border-box {
  margin-left: 0 !important;
}

.we-help {
  background: #222222;
  height: 639px;
}

.help-image {
  background: url(/images/path21630.png) no-repeat center center;
  opacity: 10%;
  height: 100%;
  position: relative;
}

.we-help-content {
  text-align: center;
  width: 100%;
  position: absolute;
  max-width: 748px;
  padding: 124px 142px 586px;
}

.we-help-content h1 {
  font-size: 54px;
  color: #fff;
}

.we-help-content h5 {
  color: #ff7000;
  font-size: 35px;
}

.we-help-content p {
  color: #fff;
}

.learn-more,
.join-us {
  background: #ff7000;
  color: #fff;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 17px 24px;
  font-size: 16px;
  width: 165px;
  height: 55px;
  text-transform: uppercase;
}

.learn-more:hover {
  transition: 0.3s;
  background-color: #fff;
  color: #ff7000;
  cursor: pointer;
}
.join-us:hover {
  transition: 0.3s;
  background-color: #fff;
  color: #ff7000;
  cursor: pointer;
}

.feedback-content {
  text-align: center;
}

.feedback-content h1 {
  font-size: 54px;
}

.feedback-content p{
  margin-top: 30px;
}

.people-feedback {
  display: flex;
  flex-wrap: wrap;
}

.one-person {
  display: flex;
  align-items: center;
  max-width: 526px;
  max-height: 175px;
  flex-wrap: wrap;
  margin-bottom: 66px;
}

.image {
  margin-right: 20px;
}

.person-content {
  flex: 1;
  padding: 0 5px;
  margin-top: 25px;
}

.person-content h5 {
  color:#ff7000;
  font-size: 21px;
  padding: 0;
  margin: 0;
}

.person-content p {
  line-height: 24px;
  font-size: 16px;
  color: #666666;
}

.gallery-all {
  margin-bottom: 178px;
}

.gallery-content {
  text-align: center;
}

.gallery-content h1 {
  font-size: 54px;
}

.gallery-content p {
  margin-top: 30px;
}

.box {
  position: relative;
  background-color: #333333;
  width: 370px;
  height: 270px;
  display: inline-block;
}



footer {
  background: #222222;
  height: 639px;
}

footer .help-image {
  background: url(/images/path21630.png) no-repeat center center;
  opacity: 10%;
  height: 100%;
  position: relative;
}

.footer-nav {
  display:flex;
  margin-top: 100px;
  position:absolute;
  align-items: center;
  justify-content: space-between;
}

.footer-nav .logo {
  width: 158px;
  height: 53px;
  left: 375px;
}

.nav-one, .nav-two, .nav-three, .nav-four {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  flex: 1;
  padding: 25px;
}

.nav-one p, .nav-two p, .nav-three p, .nav-four p {
  color: white;
}

.footer-nav ul li {
  list-style-type: none;
}

.footer-nav ul li a {
  text-decoration: none;
  color:#fff;
}

.nav-two a {
  line-height: 21.79px;
}

.nav-four a i{
  color:#ff7000;
  font-size: 24px;
}

.nav-three ul li {
  color:#fff;
  line-height: 21.79px;
}

@media (max-width: 600px) {
  .scnd-header-content .contacts .email .name,
.call .name {
display: none;
  }
  .navbar-content ul li a{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    flex-wrap: wrap;
  }
  .card-body {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .very-urgent {
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}